.body {
  display: flex;
}

.expense-form {
  width: 25%;
  padding: 10px;
}

.display-area {
  width: 75%;
  padding: 10px;
}

.header {
  display: flex;
  padding: 10px;
  background-color: black;
  font-size: large;
  color: azure;
}

.media {
  background-color: antiquewhite;
  padding: 10px;
}
